<h1>CONTACT</h1>

<div style="background-color:red">

	this should be red? maybe>

</div>
<br><br>

<div class="some_div">
	this is gonna be another color
</div>

<br><br>
<br><br>

<div class="some_div">
	<h2>
		this is gonna be another color
	</h2>
</div>

<a href="http://www.yahoo.com">Yahoo</a>
<br>
<a href="http://www.google.com" class="link">Google</a>
<br>
<a href="/users" class="link">TJ's awesome company
</a>
