<h1>TJ's website is awesome</h1>
<img src="http://standardco.de/assets/img/tj.png"><br>
That's me. TJ Muehleman. My webpage is freakin awesome.
<br><br>
<a href="/users/new">Create a new user!</a>
<br>
<a href="/blog_entries">Check out my sweet blog entries</a>
<br>
<a href="/projects">I have projects too</a>

